useDynLib(Ratings)
import(coda)
import(lattice)

export(
       barplotModelBased,
       barplotObserved,
       ordrating,
       starplotObserved,
       starplotModelBased,
       tauCalculate
       )

